<div class="row">
    <div class="col-md-2">
        <div class="thumbnail">
            <img src="{{ book.image_url }}" alt="{{ book.title }}">
            <h4>{{ book.title }}</h4>
        </div>
    </div>
    <div class="col-md-10">
        <p>作者：{{ book.author }}</p>
        <p>出版社：{{ book.publisher }}</p>
        <p>页数：{{ book.pages }}</p>
        <p>价格：{{ book.price }}.00</p>
        <p>描述：{{ book.description }}</p>
    </div>
</div>
